@import "tailwindcss";



@theme {
  --container-8xl: 1536px;
  /* ========================
     DARK (DEFAULT)
     ======================== */

  /* Base */
  --color-background: #050505;
  --color-app: #000000;
  --color-section: #0a0a0a;
  --color-surface: #171717;
  --color-outline: #262626;

  /* Text */
  --color-foreground: #ffffff;
  --color-body: #e5e5e5;
  --color-muted: #a3a3a3;
  --color-subtle: #737373;

  /* Brand */
  --color-brand-400: #fb923c;
  --color-brand-500: #f97316;
  --color-brand-600: #ea580c;
  --color-brand-900: #7c2d12;

  /* Status */
  --color-status-gentle: #4ade80;
  --color-status-firm: #facc15;
  --color-status-chaos: #dc2626;
}

[data-theme="light"] {
  /* Base */
  --color-background: #ffffff;
  --color-app: #ffffff;
  --color-section: #f5f5f5;
  --color-surface: #ffffff;
  --color-outline: #e5e5e5;

  /* Text */
  --color-foreground: #0a0a0a;
  --color-body: #1f2937;
  --color-muted: #6b7280;
  --color-subtle: #9ca3af;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-body);
  }
}
